* {
    padding: 0;
    margin: 0;
}

html {
    background: #442b4c;
}

#game-root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#loading-text {
    color: #ccc;
    display: none;
}
.loading #loading-text {
    display: block;
}